.current__wrapper{
    margin: auto;
    width: 100%;
    max-width: 220px;
  }
  
  .current__styler{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .current__image{
  width: 80%;
  margin:auto
  }
  .current__grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto auto auto;
    color:#0b1b48;
    gap: 15px;
    justify-content: center;
    
  }
  .current__description{
    grid-column: 1 / 3;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.4rem;
  }
  
  
  .current__humidity,.current__pressure{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  
  }
  .current__temprature{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.3rem;  
  
  }
  .current__humidity{
    grid-column: 1 / 2;
  
  }
  .current__pressure{
    grid-column: 2 / 3;
  
  }
  
  .temprature__title,.pressure__title,.humidity__title{
    font-weight:  bolder;
  }
  .temprature__value,.pressure__value,.humidity__value{
    font-weight:  100;
  }
  
  .current__pressure,.current__humidity{
    font-size: 0,8rem;
  }