.search__bar{
    display: flex;
    flex-direction: row;
  
    height: 45px;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .search__input{
    background-color: transparent;
    border: none;
    height: 44px;
    width: 220px;
    color: white;
    outline: none;
    font-size: 1.4rem;
    box-sizing: content-box;
  }
  
  .search__input:focus{
    border-bottom: 1px solid #5879c7;
  }
  
  
  .search__button{
    background-color: #5879c7;
    border: 1px solid #5879c7;
    border: none;
    height: 100%;
    padding: 10px 15px;
    font-size: 1.2rem;
    font-weight: 300;
  }
  @media (max-width: 600px) {
    .search__bar{
      flex-direction: column;
      justify-content: center;
      height: auto;
    }
      
    }